# Flask and extensions
Flask>=2.0
Flask-SQLAlchemy>=3.0
Flask-Login>=0.6
Flask-Admin>=1.6
Flask-WTF>=1.0
werkzeug>=2.0
python-dotenv>=1.0.0
Flask-CORS>=4.0.0
wtforms-sqlalchemy

# API Framework
flask-restx

# Database
SQLAlchemy>=1.4
mysqlclient # Docker环境中用这个
PyMySQL     # 本地Conda环境用这个
alembic
Flask-Migrate
cryptography

# WSGI Server and Concurrency
gunicorn>=20.0
gevent

# Web Scraping Libraries (爬虫库)
requests
beautifulsoup4
lxml

# Utilities
redis>=4.0
Pillow>=9.0
